/* Typography */

.h1 {
    @apply text-4xl font-extrabold tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold tracking-tighter;
}

.h3 {
    @apply text-3xl font-extrabold;
}

.h4 {
    @apply text-2xl font-extrabold tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-lg,
.btn-sm,
.btn-xs {
    @apply font-medium text-sm inline-flex items-center justify-center border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out;
}

.btn {
    @apply px-3 py-2;
}

.btn-lg {
    @apply px-4 py-3;
}

.btn-sm {
    @apply px-2 py-1;
}

.btn-xs {
    @apply px-2 py-0.5;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-white dark:bg-slate-900/30 border focus:ring-0 focus:ring-offset-0 dark:disabled:bg-slate-700/30 dark:disabled:border-slate-700 dark:disabled:hover:border-slate-700;
    color: white;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply text-sm text-slate-800 dark:text-slate-100 leading-5 py-2 px-3 border-slate-200 hover:border-slate-300 focus:border-slate-300 dark:border-slate-700 dark:hover:border-slate-600 dark:focus:border-slate-600 shadow-sm;
}

.form-input,
.form-textarea {
    @apply placeholder-slate-400 dark:placeholder-slate-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-indigo-500 checked:bg-indigo-500 dark:checked:border-transparent border border-slate-300 focus:border-indigo-300 dark:border-slate-700 dark:focus:border-indigo-500/50;
}

/* Switch element */
.form-switch {
    @apply relative select-none;
    width: 44px;
}

.form-switch label {
    @apply block overflow-hidden cursor-pointer h-6 rounded-full;
}

.form-switch label > span:first-child {
    @apply absolute block rounded-full;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out;
}

.form-switch input[type="checkbox"]:checked + label {
    @apply bg-indigo-500;
}

.form-switch input[type="checkbox"]:checked + label > span:first-child {
    left: 22px;
}

.form-switch input[type="checkbox"]:disabled + label {
    @apply cursor-not-allowed bg-slate-100 dark:bg-slate-700/20 border border-slate-200 dark:border-slate-700;
}

.form-switch input[type="checkbox"]:disabled + label > span:first-child {
    @apply bg-slate-400 dark:bg-slate-600;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
input.marque {
    color: #1c1b1b;
}
img {
    width: 60%;
}
.insertion-marque-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #131212;
    border-radius: 8px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
  }
  
  /* input.marque {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #0e0e0e;
  } */
  
  .marque-text {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  #valider {
    background-color: #6366F1;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius:  5px 5px 5px 5px;
    border: none;
    margin-top: 10px;
}  

#tableau {
        width: 550px;
        border-radius: 15px 10px;
        /* overflow: hidden; */
       
      }
      
      #tableau td, #tableau th {
        border: 1px solid #ddd;
        padding: 10px;
      }
      
     #tableau tr:nth-child(even){background-color: #182235;}
     
     #tab-container {
        display: grid;
        place-items: center;
      }
     #tab th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2686ea;
        color: white;
        
      }

      #tab {
        width: 700px;
        /* border-radius: 5px 5px 5px 5px; */
        /* overflow: hidden; */
       
      }
      
      #tab td, #tab th {
        border: 1px solid #ddd;
        padding: 15px;
      }
      
     #tab tr:nth-child(even){background-color: #182235;}
      
     #tab th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2686ea;
        color: white;
        
      }
    
#delete {
    background-color: #B065D3;
    color: #181717;
    width: 100px;
    height: 40px;
    border-radius:  5px 5px 5px 5px;
    border: none;
    margin-top: 10px;
}
#edit {
    background-color: #89D365;
    color: #181717;
    width: 100px;
    height: 40px;
    border-radius:  5px 5px 5px 5px;
    border: none;
    margin-top: 10px;
}

.text-white {
    width: 200px;
}

